# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# DB
*.sqlite3

# Alembic
backend/alembic/versions/*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
*.log

# macOS
.DS_Store
